/* Cabeçalho */
header{
 height: 150px;
 border-color: rgba(29, 27, 27, 0.356);
border-bottom: solid 2px;
border-bottom-right-radius: 5px;
}
#portugues:hover{
    background-color: rgb(255, 79, 79);
}
#matematica:hover{
    background-color: rgb(70, 70, 255);
}
#historia:hover{
    background-color: rgb(255, 255, 68);
}#Biologia:hover{
    background-color: rgb(0, 255, 0);
}#Quimica:hover{
    background-color: rgb(172, 3, 172);
}#Física:hover{
    background-color: rgb(255, 176, 30);
}#Inglês:hover{
    background-color: rgb(0, 143, 0);
}#Geografia:hover{
    background-color: rgb(136, 24, 24);
}
#Redação:hover{
    background-color: rgb(3, 202, 159);
}#Filosofia:hover{
    background-color: rgb(189, 176, 0);
}#Sociologia:hover{
    background-color: rgb(255, 0, 255);
}

.titulo{
    justify-content: center;
    color: blue
}
 


.section1 {
    margin-top: 130px;
}


.botoes button{
    margin: 20px 50px 10px 10px;
    border-radius: 25px;
    height: 115px;
    width: 115px;
    background-color: blue;
    color: white;
}

body {
    background-color: #ccc !important;
}
/* Rodapé */