/* Cabeçalho */
header{
 height: 130px;
 border-color: rgba(15, 15, , 0.932);
border-bottom: solid 2px;
border-bottom-right-radius: 5px;
}
.logo{
    width: 10%;
    height: 100%;
    position: absolute;    
    margin-right: 100%;
}

.btn{
    color: black !important;
    font-family: 'Franklin Gothic Medium';
    font-size: x-large !important;
    border-radius: 100px !important;
    height: 50px;
    width: 200px;
}
section{
    margin-top: 5%;;
}
section h1{
    color: lime;
    font-family:'Franklin Gothic Medium';
}
.container {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section1 {
    margin-top: 130px;
}
button{cursor: pointer;}

.botoes button{
    margin: 20px 50px 10px 10px;
    border-radius: 25px;
    height: 115px;
    width: 115px;
    background-color: blue;
    color: white;
}

.navCor{
    background-color: #38B6FF;
    color:black;
}

body{
    background-color: #ffffff !important;
    image-rendering: auto;
}


    
/*footer*/  
footer {
    background: black;
    padding: 50px 0 20px 0;
    position: relative;
    margin-top: 120px;
}
footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}
footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}
footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}
footer ul {
    list-style: none;
}
footer ul li {
    float: right;
    margin: 0 5px;
}
/*Fim do footer*/

/*
#Português:hover{
    background-color: rgb(255, 79, 79);
}
#Matemática:hover{
    background-color: rgb(70, 70, 255);
}
#História:hover{
    background-color: rgb(255, 255, 68);
}#Biologia:hover{
    background-color: rgb(0, 255, 0);
}#Química:hover{
    background-color: rgb(172, 3, 172);
}#Física:hover{
    background-color: rgb(255, 176, 30);
}#Inglês:hover{
    background-color: rgb(0, 143, 0);
}#Geografia:hover{
    background-color: rgb(136, 24, 24);
}
#Redação:hover{
    background-color: rgb(3, 202, 159);
}#Filosofia:hover{
    background-color: rgb(189, 176, 0);
}#Sociologia:hover{
    background-color: rgb(255, 0, 255);
}
#menu_vestibular{
border: solid 1px rgb(210, 210, 210);
background-color: rgb(250, 250, 250);
}
#menu_matérias{
    background-color: rgb(250, 250, 250);
}

#portugues:hover{
    background-color: rgb(255, 79, 79);
}
#matematica:hover{
    background-color: rgb(70, 70, 255);
}
#historia:hover{
    background-color: rgb(255, 255, 68);
}#Biologia:hover{
    background-color: rgb(0, 255, 0);
}#Quimica:hover{
    background-color: rgb(172, 3, 172);
}#Física:hover{
    background-color: rgb(255, 176, 30);
}#Inglês:hover{
    background-color: rgb(0, 143, 0);
}#Geografia:hover{
    background-color: rgb(136, 24, 24);
}
#Redação:hover{
    background-color: rgb(3, 202, 159);
}#Filosofia:hover{
    background-color: rgb(189, 176, 0);
}#Sociologia:hover{
    background-color: rgb(255, 0, 255);
}
*/